.btn {
  padding: .375rem .75rem;
  font-size: 0.9rem;
  background-color: transparent;
  border: 1px solid #d6d6d6;
}

.btn:hover {
  background-color: #ececec;
}

.btn::after {
  display: none;
}

.active {
  color: #fff;
  background-color: #006140;
}

.active:hover {
  color: #fff;
  background-color: #006141dc;
}

.fa-times {
  margin-left: 8px;
  top: -1px;
  position: relative;
}

.fa-filter {
  margin-right: 8px;
}

.dropdown-items {
  padding: 5px 0;
}

.dropdown-menu {
  max-height: 50vh;
  overflow-y: auto;
  padding: 0;
}

.dropdown-item {
  padding: .25rem 0.7rem;
}

.dropdown-item-active {
  color: #fff;
  background-color: #006140;
}

input {
  width: 100%;
  padding: 0.4rem 0.5rem;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: solid 1px #e3e3e3;
}