.btn-transfer-user-sel {
  border-color: #676767;
  color: #676767;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 0;
}

.btn-transfer-user-sel:hover {
  background-color: #676767;
  color: white;
}

.btn-transfer-user-sel-active {
  background-color: #676767;
  color: white;
}

.dropdown-centered-on-screen {
  max-width: 250px;
  margin: 0 auto;
}

.dropdown-items {
  padding: 5px 0;
}

.dropdown-menu {
  max-height: 50vh;
  overflow-y: auto;
  padding: 0;
  max-width: 280px;
}

.dropdown-item {
  padding: .25rem 0.7rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-item:active {
  color: #fff;
  background-color: #006140;
}

.dropdown-item-active {
  color: #fff;
  background-color: #006140;
}

.user-sel-search-bar {
  width: 100%;
  padding: 0.4rem 0.5rem;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: solid 1px #e3e3e3;
}