.btn {
  padding: 0.25rem .5rem;
  font-size: 0.8rem;
  background-color: #f8f9fa;
  border: 1px solid #d6d6d6;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn:hover {
  background-color: #ececec;
}

.btn::after {
  display: none;
}

.sel-val-label {
  padding-right: 5px;
}

.dropdown-items {
  padding: 5px 0;
}

.dropdown-menu {
  max-height: 50vh;
  overflow-y: auto;
  padding: 0;
  max-width: 280px;
}

.dropdown-item {
  padding: .25rem 0.7rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-item-active {
  color: #fff;
  background-color: #006140;
}

input {
  width: 100%;
  padding: 0.4rem 0.5rem;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: solid 1px #e3e3e3;
}

.reset-icon {
  margin-left: 8px;
  cursor: pointer;
  padding: 9px 0 0 0;
}

.reset-icon:hover {
  color: #d6d5d5;
}

.sel-label {
  padding: 5px 8px 0 0;
}